In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("PewDiePie.csv")
df.head(10)

   Date  Subscribers
0     1        71915
1     2        48270
2     3        47746
3     4        42276
4     5        36867
5     6        28722
6     7        29794
7     8        33125
8     9        27877
9    10        30675

In [3]:
x = df.iloc[:, :-1]
y = df.iloc[:, 1]
y

0     71915
1     48270
2     47746
3     42276
4     36867
5     28722
6     29794
7     33125
8     27877
9     30675
10    32450
11    45714
12    59377
13    42289
14    36002
15    25872
16    31623
17    46504
18    49421
19    27844
20    23444
21    43311
22    12342
Name: Subscribers, dtype: int64

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [5]:
simplelinearRegression = LinearRegression()
simplelinearRegression.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
y_predict = simplelinearRegression.predict(x_test)

In [7]:
predict = pd.DataFrame(y_predict)

In [8]:
predict.apply(np.round)

         0
0  36908.0
1  37789.0
2  28100.0
3  34266.0
4  28980.0
5  45717.0
6  35146.0

In [9]:
i = 21
while i <= 28:
  print("Total number of increase in subscribers on May %d ==>" %(i) , int(simplelinearRegression.predict([[i]])))
  i= i+1

Total number of increase in subscribers on May 21 ==> 28980
Total number of increase in subscribers on May 22 ==> 28099
Total number of increase in subscribers on May 23 ==> 27218
Total number of increase in subscribers on May 24 ==> 26337
Total number of increase in subscribers on May 25 ==> 25457
Total number of increase in subscribers on May 26 ==> 24576
Total number of increase in subscribers on May 27 ==> 23695
Total number of increase in subscribers on May 28 ==> 22814

In [10]:
import pickle

### saving a mode pkl file
Now we show as how you can save your model generated into a pickle file

In [11]:
output = open('azdevopsdemo.pkl', 'wb')
pickle.dump(simplelinearRegression, output)
output.close()

### realoading a model again
below is how we can load a saved model again and then use it

In [12]:
pkl_file = open('azdevopsdemo.pkl', 'rb')
mydict2 = pickle.load(pkl_file)
pkl_file.close()

In [20]:
type (x_test)

pandas.core.frame.DataFrame

In [13]:
y_predict_new = mydict2.predict(x_test)
predict = pd.DataFrame(y_predict_new)
predict.apply(np.round)

         0
0  36908.0
1  37789.0
2  28100.0
3  34266.0
4  28980.0
5  45717.0
6  35146.0

#### Deployment 
By Now we know how to create a simple model and how to use it to predict a value

Moving from here 

Assumptions : 
* docker is installed
* app.py is present
* requirement.txt is present
* python version is 3
* model name is always azdevopsdemo.pkl

app.py which basically is a flask application app file. already existing in the directory.This app.py file exposes a function /predict

but as we know depending upon the model , user may have different requirement as input. 

we first create the dependencies like docker file. then use docker to create the image.

In [14]:
x_test

    Date
11    12
10    11
21    22
14    15
20    21
1      2
13    14